<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <!-- <fieldset>
            <legend>Shorten any URL</legend> -->
          <input
            id="url_input"
            type="text"
            name="url"
            placeholder="https://www.google.com/"
          />
          <input type="submit" value="Shrink URL" />
          <!-- </fieldset> -->
        </form>
      </section>
    </main>
  </body>
</html>
